<!-- <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="addFood" aria-labelledby="addFoodLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-center fw-bold" id="addfoodLabel">Thêm vào giỏ hàng</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container">
      <div class="row">
        <div class="col-md-3 ps-0">
          <img
            src="https://food-cms.grab.com/compressed_webp/items/VNITE20230620075021358372/photo/menueditor_item_3584b50293244e59bf634bf95a46bd1f_1687416267714786844.webp"
            style="width: 99px; height: 99px; border-radius: 6px;" alt="">
        </div>
        <div class="col-md-9 ps-0">
            <h5 class="text-center">Bún thịt nướng chả giò</h5>
            <h5 class="">Giá</h5>
        </div>
      </div>
      <div class="food">
        <p>Tên món ăn/Giá</p>
      </div>
      <div class="wrap-message">
        <h5 class="message-text mt-3">Lời nhắn</h5>
          <textarea class="text-area form-control" placeholder="VD:Không hành" spellcheck="false" id="floatingTextarea"></textarea>
      </div>
    </div>
    <div class="container-footer d-flex justify-content-betwen mt-5">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-warning rounded-circle">
          <i class="fa-solid fa-plus"></i>
        </button>
        <span class="btn-quantity border-0 text-center my-2">1</span>
        <button type="button" class="btn btn-warning rounded-circle">
          <i class="fa-solid fa-minus"></i>
        </button>
      </div>
      <button class="btn-add btn ml-auto">Thêm vào giỏ</button>
    </div>
  </div>
</div> -->

<div class="container rounded-3 mb-5 mt-4">
  <div class="row">
    <div class="col col-lg-8 p-0 pe-lg-2">
      <ngx-slick-carousel class="carousel rounded-3 overflow-hidden" id="main-carousel" #mainCarousel="slick-carousel"
        [config]="mainConfig" (afterChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let item of items" class="slide">
          <div class="card border-0 rounded-0 bg-body-tertiary">
            <div class="row g-5">
              <div class="col-md-6">
                <!-- <img src="{{item.image}}"
                              class="rounded-3 w-100 object-fit-cover m-3 shadow-lg"
                              alt="..." style="object-position: center; height: 23.5rem;"> -->
                <img src="{{item.image}}" class="rounded-3 w-100 object-fit-cover m-3 shadow-lg" alt="..."
                  style="object-position: center; height: 23.5rem;">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h3 class="card-title text-wrapped max-line-4 pb-2 fw-bold" title="{{item.title}}">
                    {{item.title}}
                  </h3>
                  <p class="card-text text-wrapped max-line-2" title="{{item.description}}">
                    {{item.description}}
                  </p>
                  <p class="text-danger card-text text-wrapped max-line-2" title="{{item.price}}">
                    {{(item.price * item.quantity) | currency: 'VND': true: '1.0-0'}}
                  </p>
                  <div class="d-flex align-self-start">
                    <div class="btn-group ps-0 pe-0" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-warning rounded-circle py-0" (click)="increaseQuantity(item)">
                        <i class="fa-solid fa-plus" style="color: #fff"></i>
                      </button>
                      <span class="btn-quantity border-0 text-center my-2">{{item.quantity}}</span>
                      <button type="button" class="btn btn-warning rounded-circle"(click)="decreaseQuantity(item)">
                        <i class="fa-solid fa-minus" style="color: #fff"></i>
                      </button>
                    </div>
                  </div>
                  <button class="mt-3 btn-add-food btn ml-auto" (click)="addToCart(item)">Thêm vào giỏ</button>
                  <!-- <button class="btn btn-add-food" type="button" data-bs-toggle="offcanvas" data-bs-target="#addFood"
                    aria-controls="addFood">
                    <img src="../../../assets/images/logo/add.png" alt="" style="width:50px; height:50px;">
                    </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
    <div class="col-4 p-0 ps-lg-2 d-none d-lg-flex flex-column gap-2">
      <div *ngFor="let item of items; index as i;" class="card flex-row border-0 flex-grow-1"
        style="max-height: 4.7rem; cursor: pointer; flex-basis: 0;" (click)="mainCarousel.slickGoTo(i);"
        [class.bg-body-secondary]="active == i">
        <div class="col-md-3 p-0">
          <img src="{{item.image}}"
            class="rounded-end-0 m-0 rounded-start img-fluid h-100 sub-img object-fit-cover w-100" alt="{{item.title}}">
        </div>
        <div class="col-md">
          <div class="card-body h-100 d-flex align-items-center">
            <h6 class="card-title text-wrapped m-0">{{item.title}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
