<div class="container">
  <h2 class="fw-bold">Vì sao bạn nên Order trên Foodly</h2>
  <ul>
    <li>Nhanh nhất - Foodly cung cấp dịch vụ giao đồ ăn nhanh nhất.</li>
    <li>Dễ dàng nhất - Giờ đây, bạn chỉ cần thực hiện vài cú nhấp chuột là đã có thể đặt đồ ăn.</li>
    <li>Đáp ứng mọi nhu cầu - Từ món ăn được ưa thích, nhiều lựa chọn đa dạng sẽ luôn làm hài lòng khẩu vị của bạn.</li>
    <li>Dễ dàng thanh toán - Giao và nhận đồ ăn thật dễ dàng.</li>
  </ul>
  <h2 class="fw-bold">Những câu hỏi thường gặp</h2>
  <h3 class="fw-semibold text-danger">Foodly là gì ?</h3>
  <p>Foodly là dịch vụ Tìm kiếm & Đặt giao đồ ăn nhanh tại Quy Nhơn.
    Chúng tôi đã sắp xếp tất cả các món ăn,
    thực phẩm yêu thích của bạn một cách hợp lý để giúp bạn tìm được đồ ăn dễ dàng và nhanh chóng nhất có
    thể. Tìm và đặt món ăn yêu thích tại Quy Nhơn thật dễ dàng - đặt đồ ăn trực tuyến chỉ bằng vài thao tác,
    từ món cho bữa sáng, đến các món chính.
    Hãy để chúng tôi xua tan cơn đói của bạn nhờ một loạt đối tác bán đồ ăn ở Quy Nhơn.
  </p>

  <div class="d-flex justify-content-center h-100">
    <button class="btn mb-3 w-100 p-2 btn-readmore" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Xem thêm
    </button>
  </div>
  <div class="collapse mb-5" id="collapseExample">
    <h2 class="fw-bold">Làm cách nào để đặt đồ ăn ở Quy Nhơn ?</h2>
    <p>Sau đây là cách đơn giản nhất để đặt đồ ăn qua trên Foodly khi bạn ở Quy Nhơn:</p>
    <div class="fw-bold">
      <p class="text-danger">1. Tìm kiếm món ăn yêu thích</p>
      <p class="text-danger">2. Kiểm tra & Thanh toán</p>
      <p class="text-danger">3. Chờ nhận hàng và tận hưởng</p>
    </div>
    <h2 class="fw-bold">Foodly có cung cấp dịch vụ giao đồ ăn 24x7 không?</h2>
    <p>Chúng tôi chỉ biết một điều duy nhất, đó là "đồ ăn", vậy nên tất nhiên chúng tôi cung cấp dịch vụ này rồi.</p>
  </div>
</div>
