::ng-deep .ngx-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

::ng-deep .ngx-pagination .current {
  width: 35px;
  height: 35px;
  border-radius: 50% !important;
  background-color: #ffcc4d !important;
  display: flex;
  justify-content: center;
  align-items: center;

  &.small-screen {
    display: none !important;
  }
}

.breadcrum-line {
  border-bottom: 2px solid #ffcc4d;
}

.breadcrumb-item a {
  color: rgb(219, 78, 8);
  text-decoration: none;
}

.btn-add-food {
  width: 100%;
  height: 40px;
  padding: 8px 8px;
  background-color: #f1ba2f;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.btn-add-food:hover {
  background-color: #ffcc4d;
}


::ng-deep .ngx-pagination a:hover {
  border-radius: 50%;
}

::ng-deep .ngx-pagination .pagination-previous a:hover {
  border-radius: 50%;
}

::ng-deep .ngx-pagination .pagination-previous.disabled span{
  display: none;
}

::ng-deep .ngx-pagination .pagination-previous.disabled::before{
  content: 'Trước' !important;
}

::ng-deep .ngx-pagination .pagination-next.disabled span{
  display: none;
}

::ng-deep .ngx-pagination .pagination-next.disabled span::after{
  display: none;
}

::ng-deep .ngx-pagination .pagination-next.disabled::before{
  content: 'Sau' !important;
}

::ng-deep .ngx-pagination .pagination-next.disabled::after{
  display: none !important;
}

::ng-deep .ngx-pagination .pagination-next a::after {
  /* content: 'Tiếp theo' !important; */
  content: 'Sau' !important;
  position: absolute;
  visibility: visible;
  left: 0;
  width: auto;
}

::ng-deep .ngx-pagination .pagination-previous a::before {
  content: 'Trước' !important;
  position: absolute;
  visibility: visible;
  /* left: 0; */
  right: 0;
}


::ng-deep .ngx-pagination .pagination-next a {
  visibility: hidden;
  position: relative;
}

::ng-deep .ngx-pagination .pagination-previous a {
  visibility: hidden;
  position: relative;
}

/* ::ng-deep .ngx-pagination .pagination-previous a::before {
  content: '<' !important;
} */
