.background-images {
  background-size: cover;
  background-image:
  url("https://franchiseindia.s3.ap-south-1.amazonaws.com/uploads/content/wi/art/5d14c6c87b1f2.jpeg");
  background-attachment: fixed;
}

#form-container {
  font-family: Montserrat;
}

h4 {
  font-weight: 600;
}

.btn-login {
  font-weight: 500;
  background-color: #ffcc4d;
  color: #000000;
}

.btn-link-social {
  background-color: #ffcc4d;
  border-radius: 20%;
}

.btn-link-social a {
  color: #fff;
}

.form-check-input {
  cursor: pointer;
}

input.ng-invalid.ng-touched {
  border-color: #dc3545 !important;
}

.fa-eye, .fa-eye-slash {
  cursor: pointer;
}

.form-outline .form-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #cccc;
}





