
#form-container {
  font-family: Montserrat;
}

.background-images {
  background-size: cover;
  background-image:
  url("https://i.pinimg.com/originals/c3/3d/cc/c33dcc691c273e6f5d8a010000590b0a.jpg");
  background-attachment: fixed;
  height: 100dvh;
  overflow: auto;
}

h4 {
  font-weight: 600;
}

.btn:active {
  border-color: #ffcc4d;
}

.btn-login {
  font-weight: 500;
  background-color: #ffcc4d;
  color: #000000;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn-link-social {
  background-color: #ffcc4d;
  border-radius: 20%;
}

.btn-link-social a {
  color: #fff;
}

.form-check-input {
  cursor: pointer;
}

input.ng-invalid.ng-touched {
  border-color: #dc3545 !important;
}

.fa-eye, .fa-eye-slash {
  cursor: pointer;
}

.form-outline .form-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #cccc;
}





