<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-10 col-sm-offset-1 text-center">
        </div>
        <div class="four_zero_four_bg">
          <h4 class="text text-center">Không có trang nào để hiển thị</h4>
        </div>
        <div class="d-flex justify-content-center">
          <button routerLink="/home" class="btn btn-warning d-flex justify-content-center ">
            <i class="mt-1 mx-2 fa-solid fa-circle-left"></i>
            <span class="fw-medium">Trở lại trang chủ</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
