<div *ngIf="waiting" class="position-fixed z-3 bg-body-secondary bg-opacity-50 w-100" style="height: 100%;">
  <div class="d-flex justify-content-center align-items-center w-100" style="height: 100%;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div id="alert-container" class="position-sticky z-3 w-100 pb-2" style="top: 4rem;">
  <style>
    .alert-container>* {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  </style>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-12 col-md-auto me-lg-3">
      <div class="position-relative">
        <img src="{{userInfo.avatar}}" alt="avatar"
          class="m-auto mb-2 m-lg-0 d-block rounded-circle img-fluid border border-5 border-light-subtle shadow-sm avatar">
        <label for="avatarUpload" class="position-absolute bottom-0 start-50 btn py-2"
          style="transform: translateX(75%);">
          <img src="../../../assets/images/icons/socials/photo.png" alt="" style="width: 40px; height: 40px;">
          <input id="avatarUpload" type="file" class="visually-hidden" (change)="uploadAvatar($event)">
        </label>
      </div>
      <p class="h4 text-center mb-2">{{userInfo.displayName}}</p>
      <button class="btn primary-btn mb-2 py-1 d-block w-100" data-bs-toggle="modal" data-bs-target="#infoModal">Sửa
        thông tin
      </button>
      <button class="btn btn-outline-danger py-1 mb-2 d-block w-100" data-bs-toggle="modal"
        data-bs-target="#deleteModal">Xóa tài khoản
      </button>
    </div>
    <div class="col">
      <ul class="nav nav-underline" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button"
            role="tab" aria-controls="info" aria-selected="true">Thông tin</button>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link" id="favorite-tab" data-bs-toggle="tab" data-bs-target="#favorite" type="button"
            role="tab" aria-controls="favorite" aria-selected="false">Yêu thích</button>
        </li> -->
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="order-tab" data-bs-toggle="tab" data-bs-target="#order-list" type="button"
            role="tab" aria-controls="order-list" aria-selected="false">Đơn hàng</button>
        </li>

        <li class="nav-item" role="presentation">
          <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-panel" type="button"
            role="tab" aria-controls="password-panel" aria-selected="false">Đổi mật khẩu</button>
        </li>

      </ul>
      <div class="tab-content">
        <div class="tab-pane py-3 active position-relative" id="info" role="tabpanel" aria-labelledby="info-tab">
          <div class="d-flex flex-column gap-3">
            <div class="row justify-content-center align-items-center g-2">
              <div class="col-3">Tên:</div>
              <div class="col">{{userInfo.displayName}}</div>
            </div>
            <div class="row justify-content-center align-items-center g-2">
              <div class="col-3">Số điện thoại:</div>
              <div class="col">{{userInfo.phoneNumber}}</div>
            </div>
            <div class="row justify-content-center align-items-center g-2">
              <div class="col-3">Email:</div>
              <div class="col">{{userInfo.email}}</div>
            </div>
            <div class="row justify-content-center align-items-center g-2">
              <div class="col-3">Địa chỉ:</div>
              <div class="col">{{userInfo.address}}</div>
            </div>
          </div>
        </div>

        <div class="tab-pane py-3 position-relative" id="order-list" role="tabpanel" aria-labelledby="order-list">
          <div>Đặt hàng thành công ! Đơn hàng đang vận chuyển đến cho bạn</div>
          <div class="btn btn-warning">Đã nhận được hàng</div>
        </div>

        <div class="tab-pane py-3" id="password-panel" role="tabpanel" aria-labelledby="password-tab">
          <div class="row mb-3">
            <div class="col-3"><label for="passwordNew2" class="form-label">Nhập mật khẩu mới</label></div>
            <div class="col">
              <input type="password" [ngModel] #passwordNew2 id="passwordNew2" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3"><label for="passwordNew" class="form-label">Nhập lại mật khẩu mới</label></div>
            <div class="col"><input type="password" [ngModel] #passwordNew id="passwordNew" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="col">
              <p>Mật khẩu phải từ ít nhất 8 kí tự trở lên</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3"></div>
            <div class="col">
              <button class="btn primary-btn"
                [disabled]="!passwordNew.value || passwordNew.value !== passwordNew2.value">Thay đổi mật khẩu</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Sửa thông tin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editInfoForm" (ngSubmit)="submitChange()" id="editInfoForm">
          <div class="col mb-3 w-100">
            <label for="displayName" class="form-label">Tên hiển thị</label>
            <input type="text" id="displayName" class="form-control" formControlName="displayName"
              aria-describedby="helpDisplayNameId">
          </div>
          <div class="col mb-3 w-100">
            <label for="phoneNumber" class="form-label">Số điện thoại</label>
            <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber"
              aria-describedby="helpPhoneNumberId">
          </div>
          <div class="col mb-3 w-100">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email" aria-describedby="helpEmailId">
          </div>
          <div class="col mb-3 w-100">
            <label for="address" class="form-label">Địa chỉ</label>
            <input type="text" id="address" class="form-control" formControlName="address"
              aria-describedby="helpAddressId">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Hủy</button>
        <button type="submit" form="editInfoForm" class="btn primary-btn" data-bs-dismiss="modal">Lưu thay đổi</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Dữ liệu sẽ mất vĩnh viễn! Hãy chắc chắn muốn xóa tài khoản </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
        <button class="btn btn-danger" (click)="delete()" data-bs-dismiss="modal">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
