::ng-deep .ngx-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

::ng-deep .ngx-pagination .current {
  width: 35px;
  height: 35px;
  border-radius: 50% !important;
  background-color: #ffcc4d !important;
  display: flex;
  justify-content: center;
  align-items: center;

  &.small-screen {
    display: none !important;
  }
}

::ng-deep .ngx-pagination .ngx-pagination-next::before {
  content: '\bb';
}

.breadcrumb-item a {
  color: #ffcc4d;
  text-decoration: none;
}
