<div class="container-fluid bg-body py-1 mb-5 position-relative">
  <div class="container position-relative z-3 mb-5 mt-2">
    <div class="row px-0 g-2">
      <div class="col-12 col-md-3">
        <div class="card bg-dark text-white border-0" routerLink="" routerLinkActive="active">
          <img class="card-img object-fit-cover"
            src="https://food-cms.grab.com/compressed_webp/merchants/5-C3TYAU51EYM1JA/hero/398ef14332a84fa3b34034f753dea761_1691032150229147318.webp"
            alt="Title">
          <div class="card-shadow card-shadow-bottom card-shadow-o100"></div>
          <div class="card-img-overlay">
            <div class="h-100 d-flex flex-column justify-content-end">
              <h5 class="card-title text-wrapped max-line-2"></h5>
              <p class="card-text text-wrapped max-line-2"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card bg-dark text-white border-0" routerLink="" routerLinkActive="active">
          <img class="card-img object-fit-cover"
            src="https://food-cms.grab.com/compressed_webp/merchants/5-C3TYAU51EYM1JA/hero/398ef14332a84fa3b34034f753dea761_1691032150229147318.webp"
            alt="Title">
          <div class="card-shadow card-shadow-bottom card-shadow-o100"></div>
          <div class="card-img-overlay">
            <div class="h-100 d-flex flex-column justify-content-end">
              <h5 class="card-title text-wrapped max-line-2"></h5>
              <p class="card-text text-wrapped max-line-2"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card bg-dark text-white border-0" routerLink="" routerLinkActive="active">
          <img class="card-img object-fit-cover"
            src="https://food-cms.grab.com/compressed_webp/merchants/5-C3TYAU51EYM1JA/hero/398ef14332a84fa3b34034f753dea761_1691032150229147318.webp"
            alt="Title">
          <div class="card-shadow card-shadow-bottom card-shadow-o100"></div>
          <div class="card-img-overlay">
            <div class="h-100 d-flex flex-column justify-content-end">
              <h5 class="card-title text-wrapped max-line-2"></h5>
              <p class="card-text text-wrapped max-line-2"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card bg-dark text-white border-0" routerLink="" routerLinkActive="active">
          <img class="card-img object-fit-cover"
            src="https://food-cms.grab.com/compressed_webp/merchants/5-C3TYAU51EYM1JA/hero/398ef14332a84fa3b34034f753dea761_1691032150229147318.webp"
            alt="Title">
          <div class="card-shadow card-shadow-bottom card-shadow-o100"></div>
          <div class="card-img-overlay">
            <div class="h-100 d-flex flex-column justify-content-end">
              <h5 class="card-title text-wrapped max-line-2"></h5>
              <p class="card-text text-wrapped max-line-2"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-0 mb-5">
  </div>
</div>


<!-- <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let item of items; let i = index" [ngClass]="{ 'active': i === 0 }">
      <div class="col-12 col-md-3">
        <div class="card bg-dark text-white border-0">
          <img class="card-img object-fit-cover" [src]="item.imageUrl" alt="Title">
          <div class="card-shadow card-shadow-bottom card-shadow-o100"></div>
          <div class="card-img-overlay">
            <div class="h-100 d-flex flex-column justify-content-end">
              <h5 class="card-title text-wrapped max-line-2">{{ item.title }}</h5>
              <p class="card-text text-wrapped max-line-2">{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
