@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

* {
  font-family: "Varela Round", sans-serif;
}

/* .background-images {
  background-size: cover;
  background-image:
  url("https://media.istockphoto.com/id/833518366/vi/anh/set-%C4%91%E1%BB%93-%C4%83n-vi%E1%BB%87t-nam.jpg?s=1024x1024&w=is&k=20&c=MxmkqcR9rreFw7948E0a3xCsLlFj3CHDv1jtSQhelB8=");
  background-attachment: fixed;
  height: 100dvh;
  overflow: auto;
} */

.h4-title {
  font-weight: 600;
  margin: auto;
	letter-spacing: 0.0015em;
	text-shadow: 0 1px #ffcc4d, -1px 0 #c0cbff, -1px 2px #ffcc4d, -2px 1px #c0cbff,
		-2px 3px #ffcc4d, -3px 2px #ffdac0, -3px 4px #ffcc4d, -4px 3px #c0cbff,
		-4px 5px #ffcc4d, -5px 4px #c0cbff, -5px 6px #ffcc4d, -6px 5px #c0cbff,
		-6px 7px #ffcc4d, -7px 6px #c0cbff, -7px 8px #ffcc4d, -8px 7px #c0cbff;
	text-align: center;
}

/* Using component: Home, MenuFood */
.card {
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img {
  aspect-ratio: 16/9;
  @supports not (aspect-ratio: 16 / 9) {
      &::before {
          float: left;
          padding-top: 56.25%;
          content: "";
      }

      &::after {
          display: block;
          content: "";
          clear: both;
      }
  }
}

.btn-hover:hover{
  background-color: #db4e08;
}

.card-shadow {
  --shadow-angle: 270deg;
  --opacity: 1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: var(--opacity);
  /* background: linear-gradient(var(--shadow-angle), rgba(11, 11, 11, 0.2) 0%, #ffcc4d 100%, #ffcc4d 100%); */
}

.card-shadow-top {
  --shadow-angle: 0;
}

.card-shadow-bottom {
  --shadow-angle: 180deg;
}

.card-shadow-right {
  --shadow-angle: 90deg;
}

.card-shadow-o25 {
  --opacity: 0.25;
}

.card-shadow-o50 {
  --opacity: 0.5;
}

.card-shadow-o75 {
  --opacity: 0.75;
}

.card-shadow-o100 {
  --opacity: 1;
}

